.Header{
  background-color: hsl(220deg 13% 18%);
  color:white;
  text-align: center;
}

.ShipName{
  text-decoration: underline;
  font-weight: 900;
  color: white;
  text-align: center;
}

.ShipCard{
  background-color: hsl(180deg 25% 25%);
  color:white;
  margin: 5px;
  padding: 5px;
  width: 310px;
}
span{
  text-decoration: underline;
}

.Cards{
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
}